.border-animation{
  position: relative;
  padding: 1px;
  border-radius: 20px;
  background: #000000;
  overflow: hidden;
}

.border-animation::before {
  content: "";
    position: absolute;
    width: 170vh;
    height: 170vh;
    background: conic-gradient(#ff00c8, #00fff7, #a200ff, #ff00c8);
    animation: girar 2s linear infinite;
    z-index: 1;

}
/* .sidebar-container::before{
  width: 400%;
  height: 120%;
} */
.border-animation::after {
  content: "";
  position: absolute;
  inset: 1px;
  background: #111;
  border-radius: 20px;
  z-index: 2;
}


@keyframes girar {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.sidebar, header{
    z-index: 3;
}
