@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('./border.css');

:root{
    --border: 2px solid purple;
    --border-radius: 10px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  color: white;
  font-family: "Roboto", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 300px auto;
  height: 100vh;
}
 .border-animation{
    background:purple;
    width: 100%;
    display :flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
    border-radius: var(--border-radius);
}

/* SIDEBAR */
.sidebar {
    background: #121212;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 99.7vh;
    border-radius: var(--border-radius);
}

.nav-library {
  display: flex;
  gap: 10px;
  color: #b3b3b3;
}

.nav-playlist,
.nav-podcast {
  background: #1a1a1a;
  padding: 10px;
  border-radius: 8px;
  border:var(--border);
}

button {
  margin-top: 10px;
  padding: 6px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

/* HEADER */
header {
  padding: 20px 10px 10px 10px ;
}

.search-bar {
  display: flex;
  gap: 10px;
  background: #ffffff;
  padding: 10px;
  border-radius: 20px;
}

.search-bar input {
  background: transparent;
  border: none;
  color: rgb(252, 252, 252);
}

/* CONTENT */
.content {
  padding: 10px;
}

.artists-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 15px;
}

/* CARD */
.artist-card {
  background: #1a1a1a;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  transition: 0.2s;
}

.artist-card:hover {
  transform: scale(1.05);
}

.artist-card img {
  width: 100%;
  border-radius: 10px;
}
